*{
    margin: 0;
    padding: 0;
}
.body{
    margin: 0;/*definir margin e padding em 0 como padrão caso o navegador seja diferente*/
    padding: 0;
    background: #72757c;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #D7DDE8, #787e8d);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #D7DDE8, #737885); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    font-family: "Comfortaa", sans-serif;
    height: 100vh;
    width: 100vw;
}

.formulario{
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    position: relative;
    top: 50px;
    left: 520px;
    padding: 80px 40px;
    width: 500px;
    height: 400px;
}

label, input{
    margin: 0;
    padding: 0;
    margin: 4px;
    
}

.Titulo{
    margin: -10px;
    top: -37px;
    color: rgb(115, 115, 143);
    font-size: 50px;
    display: block;
    position: relative;
    border-bottom: 206px;
    text-align: center;
    font-weight: bold;
    text-shadow: rgb(175, 175, 175) 0.1em 0.1em 0.2em
}
.subtitulo{
    text-align: center;
    color: rgb(212, 58, 58);
    position: relative;
    left: 50%;
    top: -20px;
}
.botao{
    color: rgb(115, 115, 143);
    font-size: 25px;
    padding: 5px;
    display: block;
    position: relative;
    font-weight: bold;
    text-shadow: rgb(175, 175, 175) 0.1em 0.1em 0.2em;
    left: 40%;
    top: -10px;
    border: none;
}

.botao:hover{
    cursor: pointer;
}
